/* ./styles/globals.css */
@tailwind base;
@tailwind components;


.errorMessage {
    color: #bf1650;
}

.errorMessage::before {
    display: inline;
    content: "⚠ ";
}


@layer base {
    @font-face {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 400;
        src: url(https://fonts.googleapis.com);
    }


    * {
        font-family: 'NanumGothic';
    }

}
@tailwind utilities;